<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.12/htmx.min.js"></script>
    <script src="scripts-andre.js" defer></script>
</head>
<body>
    <h2>Basic</h2>
    <form hx-post="/andre" hx-trigger="submit" hx-target="#label" hx-swap="outerHTML">
        <input type="text" name="label" />
        <button>Enviar</button>
    </form>
    <div id="label"></div>

    <hr />

    <h2>hx-vals</h2>
    <form hx-post="/valores-adicionais" hx-trigger="submit" hx-target="#vals" hx-swap="outerHTML" hx-vals='{"valorExtra": "bola azul"}'>
        <input type="text" name="label" />
        <button>Enviar</button>
    </form>
    <div id="vals"></div>

    <hr />
    <h2>Automatically getting new value</h2>
    <div hx-get="/tempo-servidor" hx-trigger="every 5s" hx-target="#tempo-servidor"></div>
    <div id="tempo-servidor">O tempo do servidor ficará aqui</div>

    <hr />
    <h2>Dealing with errors</h2>
    <form hx-post="/enviar-formulario-validacao" hx-trigger="submit" hx-target="#resultado">
        <input type="text" name="username" id="username" required/>
        <div id="username-error" style="color:red"></div>
        <button>Enviar</button>
    </form>
    <div id="resultado"></div>


</body>
</html>